@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row text-center mt-4">
    <div class="col-md-6">
        <img src="~/logoFogo.jpg" alt="Logo Fogo" class="img-fluid" style="max-height: 200px;" />
        <p class="mt-2">Produto 1 - Excelente qualidade e preço acessível.</p>
    </div>
    <div class="col-md-6">
        <img src="~/images/produto2.jpg" alt="Produto 2" class="img-fluid rounded" style="max-height: 250px;" />
        <p class="mt-2">Produto 2 - Ideal para eventos e comemorações.</p>
    </div>
</div>
