@{
    ViewData["Title"] = "Home Page";
}

<div class="brand-header">
    <img src="~/logoFogo.jpg" alt="Logo da Marca Churrasco" />
    <h1>Sistema Gerenciador de Eventos de Churrasco</h1>
    <p>Organize, promova e saboreie eventos como nunca!</p>
</div>

<div class="event-section text-center container">
    <div class="row">
        <div class="col-md-6">
            <div class="event-card">
                <img src="~/costelaChao.jpg" alt="Costela de Chão" class="img-fluid" />
                <p class="mt-3">🔥 Evento: Costela de Chão <br />📍 Local: Presidente Epitácio - SP</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="event-card">
                <img src="~/churrascoVaralFrutas.jpg" alt="Churrasco com Varal de Frutas" class="img-fluid" />
                <p class="mt-3">🥩 Evento: Churrasco com Varal de Frutas <br />📍 Local: Ribeirão Preto - SP</p>
            </div>
        </div>
    </div>

    <p class="mt-4">Confira como <a href="https://learn.microsoft.com/aspnet/core" target="_blank">construir aplicações web com ASP.NET Core</a>.</p>
</div>
