@model Projeto2025.DTOs.ClienteDTO

@{
    ViewData["Title"] = "Index";
}

<h1>Cliente</h1>

<div class="col-3">
    <a asp-action="Listar" asp-controller="Cliente"
       class="btn btn-info">
        Listar
    </a>
</div>

<form asp-action="Salvar" asp-controller="Cliente" method="post">
    <input type="hidden" asp-for="id" />


    <div class="form-group">
        <label asp-for="NomeCompleto"></label>
        <input type="text" asp-for="NomeCompleto" class="form-control" />
        <span class="alert-danger" asp-validation-for="NomeCompleto">
        </span>
    </div>


    <div class="form-group">
        <label asp-for="Cpf"></label>
        <input type="text" asp-for="Cpf" class="form-control" />
        <span class="alert-danger" asp-validation-for="Cpf">
        </span>
    </div>

    <div class="form-group">
        <label asp-for="Endereco"></label>
        <input type="text" asp-for="Endereco" class="form-control" />
        <span class="alert-danger" asp-validation-for="Endereco">
        </span>
    </div>

    <div class="form-group">
        <label asp-for="DataNascimento"></label>
        <input type="date" asp-for="DataNascimento" class="form-control" />
        <span class="alert-danger" asp-validation-for="DataNascimento">
        </span>
    </div>

    <div class="form-group">
        <label asp-for="Telefone"></label>
        <input type="text" asp-for="Telefone" class="form-control" />
        <span class="alert-danger" asp-validation-for="Telefone">
        </span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input type="text" asp-for="Email" class="form-control" />
        <span class="alert-danger" asp-validation-for="Email">
        </span>
    </div>
    
    <div class="form-group">
        <label asp-for="idEvento"></label>
        <select asp-for="idEvento" class="form-control" asp-items="@(IEnumerable<SelectListItem>)ViewBag.listaEve">
            <option value="">Escolha uma categoria</option>

        </select>
        <span class="alert-danger" asp-validation-for="idEvento"></span>
    </div>


    <div>
        <span class="@ViewBag.classe">@ViewBag.mensagem</span>
    </div>


    <div class="form-group row mt-3">
        <div class="col-3">
        <button type="submit" class="btn btn-success">
            Salvar
        </button>
        </div>
        <div class="col-3">
            <a asp-action="Index" asp-controller="Cliente" class="btn btn-success">
                Novo
            </a>
        </div>
    </div>
</form>