@model Projeto2025.DTOs.FormaPagamentoDTO
@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro Forma de Pagamento</h1>


<div class="col-3 mb-3">
    <a asp-action="Listar" asp-controller="FormaPagamento" class="btn btn-info">
        Listar
    </a>
</div>

<form asp-action="Salvar" asp-controller="FormaPagamento" method="post">
    <input type="hidden" asp-for="id" />

    <div class="form-group">
        <label asp-for="Descricao"></label>
        <input type="text" asp-for="Descricao" class="form-control" />
        <span class="alert-danger" asp-validation-for="Descricao">
        </span>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.mensagem))
    {
        <div class="alert @ViewBag.classe mt-3" role="alert">
            @ViewBag.mensagem
        </div>
    }

    <div class="form-group mt-3 d-flex">
        <button type="submit" class="btn btn-success me-2">
            Salvar
        </button>
        <a asp-action="Index" asp-controller="FormaPagamento" class="btn btn-primary">
            Novo
        </a>
    </div>
</form>