@model IEnumerable<Projeto2025.DTOs.FormaPagamentoDTO>
@{
    ViewData["Title"] = "Listar";
}

<h1>Listar</h1>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Descrição</th>
            <th scope="col">Alterar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.id</th>
                <td>@item.Descricao</td>
                <td><a class="btn btn-success">Alterar</a></td>
                <td><a class="btn btn-danger">Excluir</a></td>
            </tr>
        }
    </tbody>
</table>
