@model Projeto2025.DTOs.LoginDTO;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <form asp-action="Logar" method="post">
        <meta name="viewport" content="width=device-width" />
        <title>Login</title>

        <div class="mb-3">
            <label for="email" asp-for="email" class="form-label">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
        </div>
        <div class="mb-3">
            <label for="password" asp-for="password" class="form-label">Another label</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
        </div>
    </form>
</head>
<body>
</body>
</html>
